$bg-color:#333;
$font-color:#fff;
$primary-color:#008ed6;
$dark-overlay: rgba(0,0,0,0.7) ;// last value is the opacity
$icon-size:30px;

body{
    background-color: $bg-color;
    color: $font-color;
    
}

nav.navbar{
    border-bottom:2px solid$primary-color;
    opacity: 0.8;
    position: relative;
}


.fa{
    color: $primary-color;
    background-color: #fff;
    padding: 4px;
    border-radius: 5px;
    font-size: $icon-size;
}

// back ground image
#home-section{
    background: url(../img/home.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;

    // dark overlay
    .dark-overlay{
        background-color: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 700px;
    }

    // padding
    .home-inner{
        padding-top: 150px;
    }

    // form overlay.
    .card-form{
        opacity: 0.8;
    }

    .toast-container {
        padding-top: 150px;
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 1050;
    }
}


#explore-section,#share-section{
    .fa{
        color: #fff;
        background: #333;
        padding:4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}

#create-section{
    .fa{
        color: $primary-color;
        background-color: #fff;
        padding: 4px;
        border-radius: 5px;
        font-size: $icon-size;
    }
}