.bg-black{
    background:#000;
    color:#fff;
}
  
#main-header {
  .row.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > [class*='col-'] {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .col-lg-4,
  .col-lg-8 {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 100%;
    height: 100%; // Ensures the image and container have the same height
    object-fit: cover; // Ensures the image covers the entire container without distortion
  }

  .d-flex.flex-column {
    height: 100%; // Ensures the right container has the same height as the image
  }

  .port-item {
    width: 30%;

    .fa {
      font-size: 2em;
    }
  }

  .port-item:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  @media (min-width: 1200px) {
    .port-item {
      padding: 3em !important;
    }
  }
}




#main-footer {
  .row {
    .col-12 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      
      @media (min-width: 992px) {
        flex-direction: row;
      }
    }
  }
}